* {
  margin: 0;
  padding: 0;
}

.widget_preview {
  max-height: 30%;
  padding: 20px;
  width: var(--widget-width, 40%);
}
.brand_bottom{
  background-color: #ffd400;
  width: 200px;
  position: relative;
  bottom: 11px;
  right: 2px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  
}
.widget_preview h4 {
  background: var(--title-background, #0d6efd);
  color: var(--tilte-color, #ffffff);
  padding: 6px 10px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 2px 0px #000;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.latest_download_content {
  border: var(--list-border);
  border-radius: var(--list-border-radius, 2px);
  box-shadow: 0px 0px 2px 0px #000;
}
.latest_download_content ul {
  background: #eeeeee;
  padding: 10px 10px;
  line-height: var(--software-list-spacing);
}
.latest_download_content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.latest_download_content ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  visibility: var(--show-icon);
}
.latest_download_content ul li a {
  color: var(--software-name-color, "#000");
  font-size: var(--software-name-size, 1rem);
}
.latest_download_content ul li a:hover {
  text-decoration: var(--underline-onhover, none);
}
.latest_download_content ul li a:focus {
  text-decoration: var(--underline-focus, none);
}
a{
  text-decoration: none;
}